<section>
  <h2>Mis tareas {{ taskList().length }}</h2>

  <button (click)="formVisible = true">Nuevo</button>

  <div class="task-container">
    @for (task of taskList(); track task.id) {
      <div class="card-task">
        <h3>{{ task.title }}</h3>
        <p>{{ task.description }}</p>
        <span [class]="'badge badge-' + task.status">
          {{ task.status | taskStatus }}
        </span>
        <div class="button-container">
          <button (click)="onEditTask(task)">Actualizar</button>
          <button class="delete" (click)="deleteTask(task.id)">Eliminar</button>
        </div>
      </div>
    }
  </div>
  @if (taskList().length == 0) {
    <p>No hay tareas aun.</p>
  }
</section>

@if (formVisible) {
  <app-task-form
    (formSubmit)="onCreateNew($event)"
    [taskToEdit]="taskToEdit"
  ></app-task-form>
}
